@using WebApiWithAuth.ViewModels.Account
@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "Error";
}

<h2>@ViewData["Title"].</h2>
<h3>Error while trying to use external login. Whatever...</h3>
